.BookInfo {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BookInfo .LeftInfo{
    float:left;
    padding: 10px;
}

.BookInfo .RightInfo{
    float:left;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}