.BookItem{
    word-wrap: break-word;
    margin: 10px 10px;
    float: left;
    overflow: hidden;
    background-color: #eeeeee;
    padding: 10px;
    font-size: 15px;
}

.BookItem .Header{
    margin: 0px 10px;

}
.BookItem .Body{
    float: left;
    text-align: left;

}

.BookItem .Title-link{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #004899;
}

.Library{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Actions{
    flex:100%;
    padding: 20px;
    background-color: #dddddd;
}

.Gallery {
    padding: 20px;
    float: left;
    flex: 70%;
    overflow-wrap: normal;
}

.Filters {
    padding: 20px;
    float: left;
    flex: 10%;
    font-size: 15px;
}