.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: 15px;
  color: #000000;
}

.App-nav{
  background-color: #03080C;
  flex: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 10px;
}

.App-nav .App-mainbutton{
  transition-duration:0.4s;
  color: #ffffff;
  border: none;
  margin: 5px 100px;
  padding: 10px 10px;
  border-radius: 2px;
  display: inline-block;
  width: 150px;
  text-decoration: none;
  background-color: #03080C;
  font-weight: bold;
  font-size: 30px;
}
.App-nav .App-mainbutton:hover{
  background-color: #03080C;
}

.App-nav .App-linkbutton {
  background-color: #04121B;

}

.App-nav .App-linkbutton:hover{
  background-color: #164466;
}


.App-link {
  color: #004899;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button{
  transition-duration:0.4s;
  background-color: #004899;
  color: #ffffff;
  border: none;
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 2px;
  width: 100px;
}

.App-button:hover{
  background-color: #0078FF;
}

.App-button:disabled{
  opacity: 0.8;
  background-color: #373B40;
}

.App-inputText{
  padding: 10px 10px;
  margin: 5px 5px;
  border: 2px solid;
  border-color: #004899;
  border-radius: 2px;
  width: 300px;
}

.App-linkbutton{
  transition-duration:0.4s;
  background-color: #004899;
  color: #ffffff;
  border: none;
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 2px;
  display: inline-block;
  width: 100px;
  text-decoration: none;
}

.App-linkbutton:hover{
  background-color: #0078FF;
}

.App-linkbutton:disabled{
  opacity: 0.8;

  background-color: #373B40;
}